# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml 'intellij/defaults.yaml' as defaults %}
{% import_yaml "intellij/osmap.yaml" as osmap %}

# start with defaults, merge osmap, then pillar data
{% set ide = salt['grains.filter_by'](
    defaults,
    merge=salt['grains.filter_by'](
        osmap,
        grain='os',
        merge=salt['pillar.get']('intellij', {}),
    ),
    base='intellij',
) %}

# Get dynamic release metadata
{%- set pcode = ide.jetbrains.product ~ ide.jetbrains.edition %}
{%- set jdata = salt['cmd.run']('curl {0} -s {1}{2}'.format(ide.dl.opts, ide.jetbrains.uri, pcode))|load_yaml %}

# Extract download details
{%- set _home = '{0}/intellij-{1}-{2}'.format( ide.prefix, ide.jetbrains.edition, jdata[ pcode ][0]['version'],) %}
{%- if grains.os == 'MacOS' %}
  {%- set _home = '{0} {1}E.app/Contents/MacOS'.format(ide.prefix, ide.jetbrains.edition) %}
{% endif %}
{%- set src_hashurl = jdata[ pcode ][0]['downloads'][ ide.osflavour ]['checksumLink'] %}
{%- set src_hashsum  = salt['cmd.run']('curl -s {0}'.format( src_hashurl )).split(' ')[0] %}

# Get user's group name from pillar or 'id' command
{%- if not ide.prefs.group %}
  {%- set usergroup = salt['cmd.run']('id -gn', runas=ide.prefs.user, output_loglevel='quiet',) or None %}
  {%- do ide.prefs.update({'group': usergroup,}) %}
{%- endif %}
 
# Update dynamic parameters
{% do ide.jetbrains.update({ 'realhome': _home, 'realcmd' : _home ~ ide.command },) %}
{% do ide.dl.update({
       'source_url'  : jdata[ pcode ][0]['downloads'][ ide.osflavour ]['link'],
       'archive_name': jdata[ pcode ][0]['downloads'][ ide.osflavour ]['link'].split('/') | last ,
       'src_hashurl' : src_hashurl,
       'src_hashsum' : src_hashsum,
       'unpack_opts' : ' -z -C ' ~  _home ~ ' --strip-components=1' },
) %}
{% set intellij = ide %}

